<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body class="bg-white text-black">
        <a href="#main-content" class="sr-only focus:not-sr-only focus:fixed focus:top-4 focus:left-4 focus:z-50 focus:bg-black focus:text-white focus:px-4 focus:py-2 focus:rounded">
            Skip to content
        </a>
        <div class="max-w-6xl mx-auto px-4">
            {% include navigation.html %}
            
            <main id="main-content" class="mb-12">
                {{ content }}
            </main>

            <hr class="border-t border-gray-200 my-8">
            {% include footer.html %}
        </div>
    </body>
</html> 